## Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Xcode build artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
